<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="'/'">
      <i class="bi bi-camera-reels brand-name fs-4"></i>
      <span class="brand-name">&nbsp; &nbsp;Bioscope</span>
    </a>

    <div class="search-container mx-auto">
      <div class="input-group">
        <input type="text" class="form-control search-input" placeholder="Search for movies, events, plays...">
        <button class="btn search-btn" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="dropdown location-dropdown me-3">
        <button class="btn dropdown-toggle" type="button" id="locationDropdown" (click)="toggleDropdown()" (keydown)="onKeydown($event)">
          <i class="bi bi-geo-alt-fill me-1"></i> {{ selectedLocation }}
        </button>
        <ul class="dropdown-menu" [ngClass]="{'show': isDropdownOpen}" aria-labelledby="locationDropdown">
          <li class="sticky-top bg-white p-2">
            <input type="text" class="form-control form-control-sm" placeholder="Search city..." [(ngModel)]="searchQuery" (input)="filterCities()" autocomplete="off" />
          </li>
          <div class="scrollable-menu">
            <li *ngFor="let city of filteredCities">
              <a class="dropdown-item" href="#" (click)="selectLocation(city, $event)">{{ city }}</a>
            </li>
            <li *ngIf="filteredCities.length === 0">
              <a class="dropdown-item disabled" href="#">No cities found</a>
            </li>
          </div>
        </ul>
      </div>
      <button class="btn sign-in-btn" (click)="onSignIn()">
        <i class="bi bi-person-fill me-1"></i> Sign In
      </button>
    </div>
  </div>
</nav>
