<div class="popup main-c shadow-lg rounded-3" aria-hidden="true">
  <div class="modal-con">
    <div class="popup-inner">
      <div class="popup-header text-center py-1">
        <h1 class="popup-title display-4">{{title}}</h1>
      </div>
      <div class="popup-body py-3">
        <div class="popup-icon  d-flex justify-content-center">
          <!-- Green Icon -->
          <svg *ngIf="!matData.isError" xmlns="http://www.w3.org/2000/svg" style="height: 10vh; width: 20vw" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-success">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
          </svg>

          <!-- Red Icon -->
          <svg *ngIf="matData.isError" xmlns="http://www.w3.org/2000/svg" style="height: 10vh; width: 20vw" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-danger">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
          </svg>
        </div>
        <p class="py-2 text-center">{{matData.message}}</p>
      </div>
      <div class="popup-footer text-center py-2">
        <button type="button" class="btn btn-info" (click)="closeModal()" style="cursor: pointer">Accept</button>
      </div>
    </div>
  </div>
</div>
