@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.my-no-padding-dialog{
  padding: 0 !important;
}

:root {
  --bs-primary: #118ab2;
  --bs-secondary: #ffd166;
  --bs-danger: #ef476f;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.navbar {
  background-color: var(--bs-primary);
}

/*.btn-danger {*/
/*  background-color: var(--bs-danger);*/
/*  border-color: var(--bs-danger);*/
/*}*/


